@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-libre: var(--font-libre-caslon-con);

  --color-paragraph: var(--color-neutral-500);
  --color-subheading: var(--color-neutral-700);
  --color-heading: var(--color-neutral-900);
}

.dark {
  --color-paragraph: var(--color-neutral-400);
}

body {
  font-family: var(--font-generalSans);
  font-weight: 500;
  text-wrap: wrap;
}

h1 {
  font-family: var(--font-generalSans);
  font-weight: 500;
  line-height: 1.1;
}

h2 {
  font-family: var(--font-libre-caslon-con);
}
