@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

* {
  /* border: 1px solid red; */
}

@theme inline {
  --font-mono: var(--font-mono), monospace;
  --font-sans: var(--font-sans), sans;
  --background: var(--color-white);
  --foreground: var(--color-neutral-900);
  --accent: var(--color-orange-500);

  --color-brand: var(--color-orange-500);
  --color-brand-hover: var(--color-orange-600);

  --background-text: var(--color-neutral-100);
  --background-text-bg: var(--color-neutral-500);

  --color-paragraph: var(--color-neutral-600);
  --color-subheading: var(--color-neutral-400);
  --color-heading: var(--color-neutral-900);

  --color-card: var(--color-neutral-50);

  --card-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 2px 2px 0 rgba(0, 0, 0, 0.07),
    0 4px 4px 0 rgba(0, 0, 0, 0.07), 0 8px 8px 0 rgba(0, 0, 0, 0.07),
    0 16px 16px 0 rgba(0, 0, 0, 0.07);

  --card-shadow-2:
    0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 2px 2px 0 rgba(0, 0, 0, 0.07),
    0 16px 16px 0 rgba(0, 0, 0, 0.07);

  /* //buttons */

  --text-heading-1: linear-gradient(
    to top,
    var(--color-neutral-400),
    var(--color-neutral-900),
    var(--color-neutral-800)
  );
}

.dark {
  --background: var(--color-neutral-950); /* Almost Black */
  --foreground: var(--color-neutral-200); /* Light Gray */
  --accent: var(--color-orange-500);

  --background-text: var(--color-neutral-200);
  --background-text-bg: var(--color-neutral-800);

  --color-subheading: var(--color-neutral-500);
  --color-paragraph: var(--color-neutral-500);
  --color-heading: var(--color-neutral-100);

  --text-heading-1: linear-gradient(
    to top,
    var(--color-neutral-50),
    var(--color-neutral-400),
    var(--color-neutral-300)
  );
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  font-family: var(--font-sans);
}

.display {
  font-family: inherit;
  font-size: 30px;
  font-weight: 500;
}

.heading-1 {
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
}
.heading-2 {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
}

.body-1 {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
}
.body-2 {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
}

.caption-1 {
  font-family: inherit;
  font-size: 11px;
  font-weight: 500;
}
.caption-2 {
  font-family: inherit;
  font-size: 10px;
  font-weight: 500;
}

ul > li {
  margin: 16px;
}

blockquote p {
  color: var(--color-heading) !important;
  font-size: large;
}

code {
  padding: 2px 6px;
  border-radius: 8px;
  background: var(--background-text-bg);
  color: var(--background-text);
  font-size: 13px;
}

.card-shadow {
  @apply shadow-[0_1px_1px_0_rgba(0,0,0,0.07),0_2px_2px_0_rgba(0,0,0,0.07),0_4px_4px_0_rgba(0,0,0,0.07),0_8px_8px_0_rgba(0,0,0,0.07),0_16px_16px_0_rgba(0,0,0,0.07)];
}

.fade-mask {
  width: 100%;
  /* Apply a linear gradient as a mask. The transparent parts will be hidden. */
  mask-image: radial-gradient(
    52.07% 83.99% at 50.04% 16.01%,
    #e8e8e8 0%,
    rgba(232, 232, 232, 0.2) 76.41%,
    rgba(232, 232, 232, 0) 100%
  );
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: scale, transform, opcity;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* sensible defaults for code block containers using these vars */

pre::-webkit-scrollbar {
  height: 8px;
}
pre::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.35);
  border-radius: 8px;
}

.timer-bar {
  animation: timer-bar-animation linear forwards;
}

.toast-notification:hover .timer-bar {
  animation-play-state: paused;
}

@keyframes timer-bar-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
